@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}
.modal__body {
  --growth-from: 0.7;
  --growth-to: 1;
  margin: auto;
  position: relative;
  z-index: 1;
  animation: growth linear 0.1s;
}
:root {
  --header-height: 120px;
  --navbar-height: 34px;
  --header-with-search-height: calc(var(--header-height)- var(--navbar-height));
}
/* Header with search */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.form {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  background-color: blanchedalmond;
  padding: 40px 40px;
}
.form label {
  font-size: 1rem;
  font-family: monospace;
  color: black;
}
.form input {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: 1px blanchedalmond solid;
}
.form button {
  border-radius: 15px;
  width: 90px;
  height: 40px;
  background-color: black;
  color: blanchedalmond;
  align-self: center;
}
