@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}
.modal__body {
  --growth-from: 0.7;
  --growth-to: 1;
  margin: auto;
  position: relative;
  z-index: 1;
  animation: growth linear 0.1s;
}
:root {
  --header-height: 120px;
  --navbar-height: 34px;
  --header-with-search-height: calc(var(--header-height)- var(--navbar-height));
}
/* Header with search */
