* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}
section {
  padding: 2rem 9%;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #c9a66b;
  color: black;
  padding: 0.9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}
.btn:hover {
  background: #c9a66b;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
header .logo {
  font-size: 3rem;
  color: #c9a66b;
  font-weight: bolder;
}
header .logo span {
  color: #c9a66b;
}
header .header__navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #c9a66b;
}
header .header__navbar a:hover {
  color: #ebdcb2;
}
header .icons a {
  font-size: 2rem;
  color: #c9a66b;
  margin-left: 2rem;
}
header .icons:hover {
  color: black;
}
header #toggler {
  display: none;
}
header .fa-bars {
  font-size: 3rem;
  color: #c9a66b;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  display: none;
}
.heading {
  margin-bottom: 40px;
  text-align: center;
  font-size: 4rem;
  color: black;
  padding: 1rem;
  margin: 2rem 0;
  background: #ebdcb2;
}

.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(./img/FUJIFILM-USA-hero-digitalcameras.jpg);
}
.home .Introduction {
  max-width: 50rem;
}
.home .btn {
  background-color: #000000;
  color: #c9a66b;
  font-size: 3rem;
}
.home .Introduction h3 {
  font-size: 10rem;
  color: rgb(252, 236, 209);
  font-family: "Caveat", cursive;

  font-weight: 800;
  font-style: normal;

  border-radius: 4rem;
  margin-right: 20px;
}
.Introduction span {
  font-size: 10rem;
  color: rgb(21, 20, 20);
  font-family: "Caveat", cursive;

  font-weight: 800;
  font-style: normal;
}
/*about us*/
.about-us {
  padding: 80px 0px;
  background-color: #ebdcb2;
}
.about-us-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.about-us-container .row {
  display: flex;
  flex-wrap: wrap;
}
.about-us-container .flex {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 20px;
}
.about-us h2 {
  font-size: 45px;
  margin-bottom: 20px;
  color: #000000;
}

.about-us h3 {
  font-size: 2rem;
  color: rgb(64, 61, 61);
  margin-bottom: 8px;
  text-align: justify;
  font-weight: 600;
}
.about-us p {
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 20px;
}
.about-us img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
}
.about-us .social-links {
  margin-bottom: 20px;
}
.about-us .social-links a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  color: #fff;
  background-color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
  font-size: 1.5rem;
}
.about-us a:hover {
  transform: translateY(-3px);
}
.about-us .btn {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #333;
  transition: all 0.4s ease;
}
.about-us .btn:hover {
  transform: translateY(-3px);
}
/*about us end*/

/*--productintro*/
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
  gap: 2rem;
}
.card {
  width: 350px;
  background-color: #ebdcb2;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
}
.card:hover {
  transform: scale(1, 1);
}
.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 16px;
}
.card-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
}
.card-content .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #fff;
}
/*products end*/

/*review start*/
.review .boxcontain {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.review .boxcontain .box {
  flex: 1 1 30rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  position: relative;
}
.review .boxcontain .box .fa-quote-right {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  font-size: 6rem;
  color: #c9a66b;
}
.review .boxcontain .box i {
  color: #c9a66b;
  font-size: 1.5rem;
}

.review .boxcontain .box p {
  color: #c9a66b;
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: 2rem;
  text-align: justify;
}

.review .boxcontain .box .user {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}
.review .boxcontain .box .user img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}
.review .boxcontain .box .user h3 {
  font-size: 2rem;
  color: #c9a66b;
}
.review .box-contain .box .user span {
  font-size: 1.5rem;
  color: black;
}
.heading {
  text-align: center;
  font-size: 50px;
}
.review {
  background-color: #ebdcb2;
}
.review .boxcontain .box {
  background-color: black;
}
/*review end */
/*contact start*/
.contact-container {
  width: 95%;
  background: #ffffff;
  border-radius: 6px;
  padding: 2rem 9%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.contact-container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-container .content .left-side {
  width: 25%;
  height: 100%;
  position: relative;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-container .content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  background: #afafb6;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
}
.contact-container .content .left-side .details {
  margin: 14px;
  text-align: center;
}
.contact-container .content .left-side .details i {
  font-size: 30px;
  color: #c9a66b;
}
.contact-container .content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.contact-container .content .left-side .details .text-one,
.contact-container .content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}
.contact-container .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.contact-container .content .right-side .topic-text {
  font-size: 3rem;
  font-weight: 600;
  color: #c9a66b;
}
.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 90%;
  border: none;
  border-radius: 6px;
  background: #f0f1f8;
  font-size: 16px;
  font-weight: 500;
  padding: 0 15px;
  resize: none;
}
.contact-container.right-side .message-box {
  min-height: 110px;
}
.right-side .button {
  margin-top: 6px;
  display: inline-block;
}
.content .right-side p {
  font-size: 1.5rem;
}
.right-side .button input[type="button"] {
  color: black;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 6px;
  background: #c9a66b;
  padding: 9px 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.button input[type="button"]:hover {
  background: #ebdcb2;
}
/*contact end*/
/*footer start*/
.footer {
  background-color: black;
  padding: 2rem 9%;
}
.footer-container {
  max-width: 1170px;
  margin: auto;
}
.footer-col ul {
  list-style: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #c9a66b;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
  font-size: 1.5rem;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
/*footer end*/
@media (max-width: 1290px) {
  .card {
    grid-template-columns: (1, 10px);
    width: calc(100% / 4 - 30px);
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
    background-position: left;
  }
}
@media (max-width: 768px) {
  header .fa-bars {
    display: block;
  }
  header .header__navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header #toggler:checked ~ .header__navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  header .header__navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: white;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: block;
  }
  .home.Introduction h3 {
    font-size: 5rem;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .about-us .row {
    flex-direction: column;
  }
  .about-us .flex {
    max-width: 100%;
  }
  .about-us h2 {
    font-size: 31px;
  }
  .about-us p {
    font-size: 16px;
  }
  .about-us .social-links a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin-right: 5px;
  }
  .about-us .btn {
    font-size: 16px;
    padding: 8px 16px;
    margin-bottom: 30px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
  .footer-col {
    width: 100%;
  }
  .about-us h3 {
    font-size: 15px;
  }
  .Introduction .btn {
    font-size: 2rem;
  }
  .home .Introduction h3 {
    font-size: 5rem;
  }
  .home .Introduction span {
    font-size: 5rem;
  }
}
@media (max-width: 950px) {
  .contact-container {
    width: 90%;

    padding: 30px 35px 40px 35px;
  }
}
@media (max-width: 820px) {
  .contact-container {
    margin: 40px 0;
    height: 100%;
  }
  .contact-container .content {
    flex-direction: column-reverse;
  }
  .contact-container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contact-container .content .left-side::before {
    display: none;
  }
  .contact-container .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}
