.body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px;
}
.product {
  display: flex;
  justify-content: center;
}
.card {
  border: rgb(161, 158, 158) 0.5px solid;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  position: relative;
}
.card img {
  width: 100%;
  height: auto;
}
.card-button {
  background-color: rgb(38, 37, 37);
  width: 80px;
  height: 30px;
  color: blanchedalmond;
  border-radius: 10px;
}
.detail-popup {
  position: absolute;
  top: 0;
  left: 105%;
  width: 260px;
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 10;
  transform: translateY(10px);
  pointer-events: none;
  transition: 0.3s ease;
}
.detail-popup.active {
  display: block;
}
.detail-popup .close {
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
.add-cart {
  background-color: black;
  color: blanchedalmond;
  border-radius: 10px;
  height: 40px;
  width: 90px;
}
.price {
  color: red;
  font-size: x-large;
  font-weight: 700;
}
