.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
  background-color: #ffffff;
}
.body {
  background-color: #ffffff;
}
.product {
  background: whites;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
  margin-top: 20px;
  margin-bottom: 20px;
}
.product:hover {
  transform: scale(1.05);
}
.product img {
  max-width: 100%;
  height: 200px;
  width: 300px;
  border-radius: 8px;
}
.product h3 {
  font-size: 1.2em;
  margin: 10px 0;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: weight;
  font-style: normal;
}
.product p {
  font-size: 1.5rem;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.product button {
  padding: 10px 15px;
  background-color: black;
  color: #ebdcb2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.product .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.7rem 1rem;
  font-size: 2rem;
  color: #ebdcb2;
  background: black;
}
.product .price {
  font-size: 2rem;
  color: black;
  font-weight: bolder;
  padding-top: 1rem;
}
.product .price span {
  font-size: 1.7rem;
  color: #999;
  font-weight: lighter;
  text-decoration: line-through;
}
.button {
  text-decoration: none;
  color: #ebdcb2;
}
.product button:hover {
  background-color: rgb(96, 91, 91);
}
.home .Introduction h3 {
  font-size: 10rem;
  color: black;
  font-family: "Squada One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
